{% extends 'base.html' %}
{% block css %}{% endblock %}

{% block content %}
        <div class="content-body">
            <div class="container-fluid">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% if message %}
                    <div class="alert alert-{{tag}} text-center " role="alert">{{ message }}</div>
                {% endif %}
                <!-- row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Ingredient</h4>
                            </div>
                            <div class="card-body">
                                <div class="row form-material">
                                    <div class="col-xl-12 col-xxl-12 col-md-12 mb-3">
                                        <div class="form-group">
                                          <form method="post">
                                            {% csrf_token %}
                                            <div class="card-body">
                                                <div class="row form-material">
                                                    <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                                  <label style="color:black;">Ingridient Name</label>
                                                                  <input type="text" name="name[]" placeholder="Enter Ingridient Name" class="form-control name_list text-black" required>
                                                    </div>
                                                    <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                        <label style="color:black;">Ingridient Quantity</label>
                                                    <div class="row d-flex">
                                                     <div class="col-md-6">
                                                        <select class="form-control text-black"> 
                                                          <option>select</option>
                                                          <option>Ml</option>
                                                          <option>Grms</option>
                                                          <option>Quntity</option>
                                                        </select>
                                                    </div>
                                                     <div class="col-md-6">
                                                       <input type="number" name="name[]" placeholder="120" class="form-control name_list text-black">
                                                    </div>
                                                </div>
                                                  </div>
                                                  <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                    <label style="color:black;">Protein</label>
                                                  <input type="text" name="Sugars[]" placeholder="Enter Protein" class="form-control name_list text-black" required>
                                                </div>
												                          <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                    <label style="color:black;">Calories</label>
                                                   <input type="text" name="name[]" placeholder="Enter Calories" class="form-control name_list text-black" required>
                                                 </div>
                                                 <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                    <label style="color:black;">Fat</label>
                                                  <input type="text" name="Sugars[]" placeholder="Enter Fat" class="form-control name_list text-black" required>
                                                </div>
                                                <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                    <label style="color:black;">carbs</label>
                                                  <input type="text" name="Sugars[]" placeholder="Enter carbs" class="form-control name_list text-black" required>
                                                </div>
                                                <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                    <label style="color:black;">Sugars</label>
                                                  <input type="text" name="Sugars[]" placeholder="Enter Sugars" class="form-control name_list text-black" required>
                                                </div>
                                                <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                    <label style="color:black;">Sodium</label>
                                                  <input type="text" name="Sugars[]" placeholder="Enter Sodium" class="form-control name_list text-black" required>
                                                </div>
                                                <div class="col-sm-12 col-lg-3 col-md-3 mb-3">
                                                    <label style="color:black;">Fiber</label>
                                                  <input type="text" name="Sugars[]" placeholder="Enter Fiber" class="form-control name_list text-black" required>
                                                </div>
												                        <div class="col-xl-12 col-xxl-12 col-md-12 mt-3">
                                                    <button type="submit" class="btn btn-primary"><a href="customers-datatable.html" style="color:#fff;">Submit</a></button>
                                                </div>
                                          </form>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock  %}

