{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Add Customer</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Customer</h4>
                                {{message}}
                            </div>
                            <div class="card-body">
                                <form action="{% url 'add_customer' %}" method="POST">
                                {% csrf_token %}

                                <div class="row form-material">
                                    <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">First Name</label>
                                       <input type="text" class="form-control text-black" name="fname" placeholder="First Name" required>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Last Name</label>
                                        <input type="text" class="form-control text-black" name="lname" placeholder="Last Name" required>
                                    </div>
									<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Gender</label>
										<select class="form-control text-black" name="gender" required>
										  <option>select the gendeer</option>
										  <option>Male</option>
										  <option>Female</option>
										  <option>Other</option>
										</select>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6">
                                        <label style= "color: black;">Address</label>
                                         <input type="text" class="form-control text-black" name="address" placeholder="Addess" required>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">City</label>
                                       <input type="text" class="form-control text-black" name="city" placeholder="City Name" required>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Pincode</label>
                                       <input type="number" class="form-control text-black" name="pincode" placeholder="Enter Pincode" required>
                                    </div>
									<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Mobile Number</label>
                                       <input type="number" class="form-control text-black" name="mobile" placeholder="Enter Mobile Number" required>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6">
                                        <label style= "color: black;">E-mail</label>
                                         <input type="emial" class="form-control text-black" name="email" placeholder="Enter Email" required>
                                    </div>
									<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Date of Birth</label>
                                       <input type="date" class="form-control text-black" name="dob" required>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6">
                                        <label style= "color: black;">Age</label>
                                         <input type="number" class="form-control text-black" name="age" placeholder="Enter Age"required >
                                    </div>
									<div class="col-xl-3 col-xxl-6 col-md-6">
                                        <label style= "color: black;">Height</label>
                                         <input type="number" class="form-control text-black" name="height" placeholder="Enter Height"required>
                                    </div>
                                    
                                    <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Weight</label>
                                        <input type="number" class="form-control text-black" name="weight" placeholder="Enter Weight"required>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Health Issues</label>
                                         <input type="text" class="form-control text-black" name="hissue" placeholder="Diabetes"required>
                                    </div>
									<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Any Other Issues</label>
                                        <input type="text" class="form-control text-black" name="oissue" placeholder="yes Hypertension"required>
                                    </div>
									
                                    <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Used Any Medication Earlier</label>
                                        <select class="form-control text-black" name="any-medication" required>
                                         <option>select..</option>
                                         <option>Yes</option>
                                         <option>No</option>
                                       </select>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6">
                                        <label style= "color: black;">Food</label>
                                         <select class="form-control text-black" name="veg-nonveg" required>
										  <option>select..</option>
										  <option>Vegetarian</option>
										  <option>Non Vegetarian</option>
										</select>
                                    </div>
									<div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                        <label style= "color: black;">Profession</label>
                                        <input type="text" class="form-control text-black" name="profession" placeholder="Software"required>
                                    </div>
                                    <div class="col-xl-3 col-xxl-6 col-md-6">
                                        <label style= "color: black;">What Help You are Looking fron us?</label>
                                        <input type="text" class="form-control text-black" name="help" placeholder="write....."required>
                                    </div>                                    
									<div class="col-xl-12 col-xxl-12 col-md-12 mt-3">
                                        
                                    </div>
									<button type="submit" class="btn btn-primary">
                                            Submit
                                        </button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


{% endblock  %}
{% block js %} 
{% endblock  %}