{% extends 'base.html' %}
{% block css %}{% endblock %}

{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                {% if message %}
                {% if tag == "danger" %}
                    <div class="text-center bg-danger text-white py-3">
                    <span>{{ message }}</span>
                    </div>
                {% elif tag == "success" %}
                    <div class="text-center bg-success text-white py-3">
                    <span>{{ message }}</span>
                    </div>
                {% endif %}
                {% endif %} 
                <div class="page-titles">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Customer</a></li>
                  </ol>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col">
                          <label for="name" style="color:black;">Add Customer </label>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label style="color:black;" for="name">First Name:</label>
                            <input type="text" style="color:black;" class="form-control" id="fname" name="fname" required>
                        </div>
                        <div class="form-group col">
                          <label for="name" style="color:black;">Last Name:</label>
                          <input type="text" class="form-control" style="color:black;" id="lname" name="lname" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="status" style="color:black;">Gender:</label>
                            <select style="color:black;" class="form-control" required>
                              <option>select the gendeer</option>
                              <option style="color:black;">Male</option>
                              <option style="color:black;">Female</option>
                              <option style="color:black;">Other</option>
                            </select>
                        </div>
                          <div class="form-group col">
                            <label for="address" style="color:black;">Address:</label>
                            <input type="text" class="form-control" style="color:black;" id="address" name="address" placeholder="Addess" required>
                          </div>   
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                          <label for="mobile" style="color:black;" >City</label>
                          <input type="number" class="form-control" id="city" name="city" required>
                        </div>
                        <div class="form-group col">
                          <label for="email" style="color:black;">Pincode</label>
                          <input type="email" step="0.1" class="form-control" id="pincode" name="pincode" required>
                        </div>
                        
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col">
                          <label for="mobile" style="color:black;" >Mobile No:</label>
                          <input type="number" class="form-control" id="mobile" name="mobile" required>
                        </div>
                        <div class="form-group col">
                          <label for="email" style="color:black;">Email Id:</label>
                          <input type="email" step="0.1" class="form-control" id="email" name="email" required>
                        </div>
                        
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col">
                          <label for="dob" style="color:black;">Date Of Birth:</label>
                          <input type="date" class="form-control" id="dob" name="dob" required>
                        </div>
                        <div class="form-group col">
                          <label for="age" style="color:black;">Age:</label>
                          <input type="number" step="0.1" class="form-control" style="color:black;" id="age" name="age" placeholder="21"required required>
                        </div>                       
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                          <label for="height" style="color:black;">Height</label>
                          <input type="number" class="form-control" style="color:black;" id="height" name="height" placeholder="167"required>
                        </div>
                        <div class="form-group col">
                          <label for="weight" style="color:black;">Weight</label>
                          <input type="number" class="form-control" style="color:black;" id="weight" name="weight" placeholder="67"required>
                        </div>                       
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="hissue" style="color:black;">Health Issues:</label>
                            <input type="text" class="form-control" style="color:black;" placeholder="Diabetes"required>
                            {% comment %} <select class="form-control" id="hissue" name="hissue" required>
                                <option value="None">None</option>
                                <option value="Diabetic">Diabetic</option>
                                <option value="Pre-Diabetic">Pre-Diabetic</option>
                                <option value="Cholesterol">Cholesterol</option>
                                <option value="Hypertension">Hypertension</option>
                                <option value="PCOS">PCOS</option>
                                <option value="Thyroid">Thyroid</option>
                                <option value="Physical Injury">Physical Injury</option>
                                <option value="Excessive stress/anxiety">Excessive stress/anxiety</option>
                                <option value="Sleep Issues">Sleep Issues</option>
                                <option value="Depression">Depression</option>
                                <option value="Anger Issues">Anger Issues</option>
                                <option value="Loneliness">Loneliness</option>
                                <option value="Relationship stress">Relationship stress</option>
                              </select> {% endcomment %}
                        </div>
                        <div class="form-group col">
                          <label for="oissue" style="color:black;">Any Other Issues:</label>
                          <input type="text" class="form-control" style="color:black;" id="oissue" name="oissue" required>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="any-medication"style="color:black;" >Used Any Medication Earlier:</label>
                        <input type="text" class="form-control" style="color:black;" id="any-medication" name="any-medication" required>
                      </div>
                      <div class="form-group col">
                        <label for="veg-nonveg" style="color:black;">Food</label>
                        <select class="form-control" id="veg-nonveg" name="veg-nonveg" style="color:black;" required>
                            <option value="Vegitarian" style="color:black;" >Vegitarian</option>
                            <option value="None Vegitarian" style="color:black;" >None Vegitarian</option>    
                        </select>
                      </div>
                      
                    </div>
                
                    <!-- Continue with the rest of the fields using the same pattern -->
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="profession" style="color:black;">Profession:</label>
                            <select class="form-control" id="profession" name="profession" required>
                                <option value="Individual">Individual</option>
                                <option value="Nutritionist">Nutritionist</option>
                                <option value="Business Owner">Business Owner</option>                               
                            </select>
                        </div>
                        
                        <div class="form-group col">
                            <label for="help" style="color:black;">What Help You Are Looking From US:</label>
                            <input type="text" class="form-control" id="help" name="help" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                          <div class="form-group text-left">
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </div> 
                        </div>
                    </div>    
                </form>
            </div>
        </div>
{% endblock  %}
{% block js %}     
   
<script>
    function previewFile(event) {
        const fileInput = event.target;
        const previewImage = document.getElementById('previewImage');

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        } else {
            previewImage.src = 'https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg';
        }
    }
</script>
{% endblock  %}  