{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Dish Calculator Items</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
					</ol>
                </div>
                <!-- row -->


                <div class="row">
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Dish Calculator Items</h4>
								<div class="">
								   <a href="{% url 'add_dish_calculator' %}"><button type="submit" class="btn btn-primary">Add New Item</button></a>
								</div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example5" class="display min-w850">
                                        <thead>
                                            <tr style="text-align:left;">
                                                <th>ID</th>
                                                <th>Item Name</th>
                                                <th>Sub Name</th>
                                                <th>Type of Meal</th>
                                                <th>Type of Food</th>
                                                <th>Ingridients</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                    
                                    
                                            {% for dish in dishes %}
                                            <tr>
                                               
                                                <td>{{dish.id}}</td>
                                                <td>{{dish.item.item_name}}</td>
                                                <td>{{dish.item.sub_name}}</td>
                                                <td>{{dish.item.type_of_meal}}</td>
                                                <td>{{dish.item.type_of_food}}</td>
                                                <td>{{dish.ingridient_name}}</td>
                                                <td>
                                                <div class="">
                                                    <a href="{% url 'recipe_calculator' id=dish.id %}" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-eye"></i></a>
                                                </div>
                                            </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


{% endblock  %}
{% block js %} 
{% endblock  %}