
{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block js %}{% endblock  %}
{% block content %}
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Customers</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Table</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Customers</h4>
                                <a href="{% url 'add_recipe' %}"> <button type="button" class="btn btn-primary">Add New Item </button></a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example5" class="display min-w850">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Item Name</th>
                                                <th>Sub Name</th>
                                                <th>Type Of Meal</th>
                                                <th>Type Of Food</th>
                                                <th>Ingredients</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for d in all_recipe %}
                                            <tr>
                                               
                                                <td>{{d.id}}</td>
                                                <td>{{d.item_name}}</td>
                                                <td>{{d.sub_name}}</td>
                                                <td>{{d.type_of_meal}}</td>
                                                <td>{{d.type_of_food}}</td>
                                                <td>
                                                    <!-- Loop through the related ingredients for this recipe -->
                                                    {% for ingridient in d.addingridient_set.all %}
                                                        {{ ingridient.ingridient_name }},
                                                    {% endfor %}
                                                </td>
                                                
                                                <td>
													<div class="d-flex">
														<a href="{% url 'recipe_details' d.id %}" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-eye"></i></a>
													</div>
												</td>												
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    {% endblock  %}