{% extends 'base.html' %}
{% block css %}{% endblock %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Blank</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
                                <!-- Tab panes -->
                                <div class="tab-content ">
                                    <div role="tabpanel" class="tab-pane fade show active d-flex justify-content-center" id="first">
                                        <img class="img-fluid" src="/static/images/buffalo-chiken.jpg" width="100%" alt="" style="max-width:100% !important;height: 300px;border-radius: 20px;">
                                    </div>
                                </div>
                            </div>
                            <!--Tab slider End-->
                            <div class="col-xl-9 col-lg-6 col-md-6 col-xxl-7 col-sm-12">
                                <div class="product-detail-content">
                                    <!--Product details-->
                                    <div class="new-arrival-content pr">
                                     <div class="row">
                                       <div class="col-md-6">
                                          <h4>{{data.food}}</h4>
                                        </div>
                                        <div class="col-md-6 ">
                                           <div class="comment-review star-rating justify-content-end d-flex">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-half-empty"></i></li>
                                                <li><i class="fa fa-star-half-empty"></i></li>
                                            </ul>
                                        </div>
                                        </div>
                                        </div>
                                         <p class="text-content" style="margin-top:0px !important;">Then we have curated a super easy yet delicious recipe which you can make at home without putting in much efforts. Just follow the step-by step recipe given below and enjoy. To make these yummy, crispy nuggets, you just need a few ingredients and you are good to go! However, if you want to avoid frying, then prepare the nuggets in the same way and air fry or bake them! Serve hot with a dip and enjoy!</p> 
                                         <p>Ingridients:&nbsp;&nbsp;
                                            <span class="badge badge-success light mt-1">chicken 250g</span>
                                            <span class="badge badge-success light mt-1">salt 2Spoons</span>
                                            <span class="badge badge-success light mt-1">egg 2</span>
                                            <span class="badge badge-success light mt-1">garlic powder 1Spoon</span>
                                            <span class="badge badge-success light mt-1"> mixed herbs 2Spoons</span>
                                            <span class="badge badge-success light mt-1">refined oil 100ml</span>
                                            <span class="badge badge-success light mt-1">curd 3Spoons</span>
                                        </p>
                                      
                                      
                            </div>
                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                <div class="card">
                    <!-- <div class="card-header d-block"> -->
                        <!-- <h4 class="card-title">SKILL BARS </h4> -->
                        <!-- <p class="mb-0 subtitle">add <code>.progress-animated</code> to change the style</p> -->
                    <!-- </div> -->
                   <div class="card-body">
                                       <div class="row">
                                       <div class="col-lg-12 col-md-12">
                                        <h5>Cooking Process<i class="ml-3 las la-clock scale5 mr-2"></i><span class="text-nowrap fs-14 text-black font-w500">30 mins</span></h5>
                                        <h6 class="mt-2">Step 1</h6>
                                          <p class="text-content" style="margin-top:0px !important;">Preheat oven to 425° and brush a large baking sheet with oil. In a small saucepan over medium heat, combine butter, hot sauce, and blue cheese, and season with salt. Whisk until butter and cheese have melted, 2 minutes. Remove from heat and let cool.</p>
                                          <h6>Step 2</h6>
                                          <p class="text-content" style="margin-top:0px !important;">Meanwhile, in a medium bowl, stir together bread crumbs, celery, garlic, egg, green onions, and onion powder and season with salt. Add chicken and half the hot sauce mixture and mix until combined.</p>
                                          <h6>Step 3</h6>
                                          <p class="text-content" style="margin-top:0px !important;">Using a cookie scoop, form 1-inch meatballs and transfer to prepared baking sheet.</p>
                                          <h6>Step 4</h6>
                                          <p class="text-content" style="margin-top:0px !important;">Bake until lightly golden, 15 to 17 minutes.</p>
                                          <h6>Step 5</h6>
                                          <p class="text-content" style="margin-top:0px !important;">Drizzle remaining sauce over meatballs and sprinkle with green onions before serving.</p>
                                          <h5>Nutritional Values</h5> 
                                        </div>
                                      
                                    </div>
                                    <div class="row">
                                       <div class="col-md-6 col-lg-6">
                                         <div class="row">
                                            <div class="col-md-1 col-lg-1" style="margin-top:10px;">
                                               <img src="images/proteins.png" />
                                            </div>
                                            <div class="col-md-11 col-lg-11">
                                            <h6 class="mt-2">Protein
                                                <span class="pull-right">85%</span>
                                            </h6>
                                            <div class="progress ">
                                                <div class="progress-bar bg-danger progress-animated" style="width: 85%; height:6px;" role="progressbar">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-md-1 col-lg-1" style="margin-top:10px;">
                                               <img src="images/calories.png" />
                                            </div>
                                            <div class="col-md-11 col-lg-11">
                                                <h6 class="mt-2">Calories
                                                    <span class="pull-right">90%</span>
                                                </h6>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info progress-animated" style="width: 90%; height:6px;" role="progressbar">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                              </div>
                                         </div>
                                    </div>
                                    </div>
                                     <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                    <div class="row">
                                            <div class="col-md-1 col-lg-1" style="margin-top:10px;">
                                               <img src="images/trans-fat.png" />
                                            </div>
                                        <div class="col-md-11 col-lg-11">	
                                        <h6 class="mt-2">Fat
                                            <span class="pull-right">65%</span>
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar bg-success progress-animated" style="width: 65%; height:6px;" role="progressbar">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                    <div class="row">
                                            <div class="col-md-1 col-lg-1" style="margin-top:10px;">
                                               <img src="images/carp-fish.png" />
                                            </div>
                                            <div class="col-md-11 col-lg-11">
                                        <h6 class="mt-2">carps
                                            <span class="pull-right">45%</span>
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning progress-animated" style="width:45%; height:6px;" role="progressbar">
                                                <span class="sr-only">45% Complete</span>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                     <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                    <div class="row">
                                            <div class="col-md-1 col-lg-1" style="margin-top:10px;">
                                               <img src="images/sugar.png" />
                                            </div>
                                        <div class="col-md-11 col-lg-11">	
                                        <h6 class="mt-2">Sugars
                                            <span class="pull-right">23%</span>
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary progress-animated" style="width: 10%; height:6px;" role="progressbar">
                                                <span class="sr-only">110% Complete</span>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                    <div class="row">
                                            <div class="col-md-1 col-lg-1" style="margin-top:10px;">
                                               <img src="images/sodium.png" />
                                            </div>
                                            <div class="col-md-11 col-lg-11">
                                        <h6 class="mt-2">Sodium
                                            <span class="pull-right">15%</span>
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger progress-animated" style="width:15%; height:6px;" role="progressbar">
                                                <span class="sr-only">15% Complete</span>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                    <div class="row">
                                            <div class="col-md-1 col-lg-1" style="margin-top:10px;">
                                               <img src="images/fiber.png" />
                                            </div>
                                        <div class="col-md-11 col-lg-11">	
                                        <h6 class="mt-2">Fiber
                                            <span class="pull-right">88%</span>
                                        </h6>
                                        <div class="progress">
                                            <div class="progress-bar bg-info progress-animated" style="width: 88%; height:6px;" role="progressbar">
                                                <span class="sr-only">88% Complete</span>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-xl-9 col-xxl-12">
                <div class="row">	
                    <div class="col-xl-12">
                        <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Similar Recipes</h4>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                                <div class="row">
                                    <div class="col-md-6"> 
                                    <div class="media border-bottom mb-3 pb-3 d-lg-flex d-block menu-list">
                                    <a href="recipe-detail.html"><img class="rounded mr-3 mb-md-0 mb-3" src="images/menus/8.png" alt="" width="120"></a>
                                        <div class="media-body col-lg-8 pl-0">
                                        <h6 class="fs-16 font-w600"><a href="recipe-detail.html" class="text-black">Papaya Fruit</a></h6>
                                        <p class="fs-14">Lorem ipsum dolor sit ametconsectetur adipiscing laboris nisi ut aliquip</p>
                                        <div class="d-flex flex-wrap align-items-center">
                                            <ul class="d-flex flex-wrap mb-sm-0 mb-2">
                                                <li class="mb-2 mr-4 text-nowrap"><i class="las la-prescription-bottle scale5 mr-2"></i><span class="text-nowrap fs-14 text-black font-w500">8 Ingridients</span></li>
                                                <li class="mb-2 mr-4 text-nowrap"><i class="las la-clock scale5 mr-2"></i><span class="text-nowrap fs-14 text-black font-w500">4-6 mins</span></li>
                                            </ul>
                                        
                                        </div>
                                    
                                    </div>
                                </div>
                                    </div>
                                     <div class="col-md-6"> 
                                    <div class="media border-bottom mb-3 pb-3 d-lg-flex d-block menu-list">
                                    <a href="recipe-detail.html"><img class="rounded mr-3 mb-md-0 mb-3" src="images/menus/5.png" alt="" width="120"></a>
                                    <div class="media-body col-lg-8 pl-0">
                                        <h6 class="fs-16 font-w600"><a href="recipe-detail.html" class="text-black">Papaya Fruit for Vitamin C</a></h6>
                                        <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing laboris nisi ut aliquip</p>
                                        <div class="d-flex flex-wrap align-items-center">
                                            <ul class="d-flex flex-wrap mb-sm-0 mb-2">
                                                <li class="mb-2 mr-4 text-nowrap"><i class="las la-prescription-bottle scale5 mr-2"></i><span class="text-nowrap fs-14 text-black font-w500">8 Ingridients</span></li>
                                                <li class="mb-2 mr-4 text-nowrap"><i class="las la-clock scale5 mr-2"></i><span class="text-nowrap fs-14 text-black font-w500">4-6 mins</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        
        </div>
            <!-- review -->
        </div>
        
    </div>
</div>
{% endblock  %}
{% block js %}     
{% endblock  %}  