{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Fit4LifeIndia Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
	<link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/star-rating/star-rating-svg.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">
	<style>
		/* Styles for the button */
button#popupButton {
    background-color: #0b2a97;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
	border-radius: 14px;
	margin-left: 630px;
}

/* Styles for the popup container */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px; /* Increase padding for a larger popup */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px; /* Increase the width for a larger popup */
    max-width: 80%;
    text-align: center;
	z-index: +1;
}

/* Styles for the popup heading */
.popup h2 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left; /* Align heading to the left */
}

/* Styles for labels and inputs */
.popup label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Align labels to the left */
}

.popup select,
.popup input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style for the close button */
button#closePopup {
    background-color: #ccc;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
	background-color: #0b2a97;
	color: white;
}

/* Style for the close button on hover */
button#closePopup:hover {
    background-color: #999;
}

/* Reset default margin and padding for the whole page */
body, h1, h2, h3, p, div, ul, ol, li, dl, dt, dd, th, td, form, fieldset, input, textarea, button, img {
    margin: 0;
    padding: 0;
}

/* Apply general styles to your table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Create a scrollable container */
.table-container {
    max-width: 100%;
    overflow-x: auto;
}

/* Make the table header fixed */
.table-container table {
    position: relative;
}

.table-container thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 2;
}

/* Adjust the height to limit vertical scrolling */
.table-container {
    max-height: 400px; /* Adjust the max-height as needed */
}

		.card{
			width: 137%;
		}
		/* Styles for the close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ccc;
    color: #000;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

/* Style for the close button on hover */
.close-button:hover {
    background-color: #999;
}

	</style>
	
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
           <a href="{% url 'dashboard' %}" class="brand-logo">
                <img class="logo-abbr" src="{% static 'images/icon-logo.png' %}" alt="">
                <img class="logo-compact" src="{% static 'images/logo.png' %}" alt="">
                <img class="brand-title" src="{% static 'images/logo.png' %}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
								Dashboard
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
							<li class="nav-item">
								<div class="input-group search-area d-xl-inline-flex d-none">
									<div class="input-group-append">
										<span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
									</div>
									<input type="text" class="form-control" placeholder="Search here...">
								</div>
							</li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
                                    <img src="{{user.image_url}}" width="20" alt=""/>
									<div class="header-info">
										<span class="text-black"><strong>{{user.name}}</strong></span>
										<p class="fs-12 mb-0">{{user.user_type}}</p>
									</div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#.html" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="#.html" class="dropdown-item ai-icon">
                                        <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="{% url 'login' %}" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="ai-icon" href="{% url 'dashboard' %}" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                    </li>
                    <li><a class="ai-icon" href="{% url 'customers' %}" aria-expanded="false">
							<i class="flaticon-381-user-3"></i>
							<span class="nav-text">Customers</span>
						</a>
                    </li>
                    {% comment %} <li><a class="ai-icon" href="{% url 'recipe_management' %}" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Recipe Management</span>
						</a>
                    </li> {% endcomment %}
					 <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
						<i class="flaticon-381-calculator"></i>
						<span class="nav-text">Recipe Management</span>
					</a>
                       <ul aria-expanded="false" class="mm-collapse mm-show" style="">
                            <li><a href="{% url 'recipe_management' %}">Recipe</a></li>
                            <li><a href="{% url 'ingredient_items' %}">Ingredients</a></li>
                        </ul>
                    </li>
                </ul>
				<!-- <div class="add-menu-sidebar"> -->
					<!-- <img src="{% static 'images/calendar.png' %}" alt="" class="mr-3"> -->
					<!-- <p class="	font-w500 mb-0">Create Workout Plan Now</p> -->
				<!-- </div> -->
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Recipe Management</a></li>
					</ol>
                </div>
				<div class="row">
					<div class="col-xl-9 col-xxl-12">
						<div class="row">	
							<div class="col-xl-12">
								<div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Recipe Management</h4>
                                <button id="popupButton" style="float:right;">Open Popup</button>
                            </div>
                            <div class="card-body">
							<div class="row">
							<div class="col-md-12">
                                <ul class="nav nav-pills justify-content-start mb-4">
                                    <li class="nav-item">
                                        <a href="#navpills2-1" class="nav-link active" data-toggle="tab" aria-expanded="true">Breakfast</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#navpills2-2" class="nav-link" data-toggle="tab" aria-expanded="false">Lunch</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#navpills2-3" class="nav-link" data-toggle="tab" aria-expanded="flase">Snaks</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#navpills2-4" class="nav-link" data-toggle="tab" aria-expanded="flase">Dinner</a>
                                    </li>
                                </ul>
								</div>
								
								</div>
                                
								<div class="popup" id="popup">
                                    <button id="closePopup" class="close-button">X</button>
                                    <h2>Select a Category and Upload an CSV File</h2>
                                    <form action="{% url 'upload_csv' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="category">Select Category:</label>
                                        <select id="category" name="category">
                                            <option value="breakfast">Breakfast</option>
                                            <option value="lunch">Lunch</option>
                                            <option value="evening_snacks">Evening Snacks</option>
                                            <option value="dinner">Dinner</option>
                                        </select>
                                        <br>
                                        <label for="file">Upload CSV File:</label>
                                        <input type="file" id="file" name="file" accept=".csv">
                                        <br>
                                        <button type="submit">Submit</button>
                                    </form>
                                </div>
                                <div class="tab-content">
                                    <div id="navpills2-1" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-md-16 table-container"> 
												<h4>Breakfast</h4>
												<table>
													<tr>
														<th>Food</th>
														<th>Quantity</th>
														<th>Ingredients</th>
														<th>Veg/Non-Veg/Egg</th>
														<th>PRAL</th>
														<th>Oil</th>
														<th>GL</th>
                                                        <th>Kcal</th>
														<th>Cals</th>
														<th>Net of TDF</th>
														<th>AAF</th>
														<th>adj Prot</th>
														<th>Carbs (Net of TDF)</th>
														<th>Total Fat</th>
														<th>TDF</th>
														<th>Sodium</th>
														<th>Potassium</th>
														<th>Phosphorus</th>
														<th>Calcium</th>
														<th>Magnesium</th>
														<th>Total EAA</th>
														<th>Lysine</th>
														<th>Gross Protein</th>
														<th>Free Sugars</th>
														<th>AA Factor</th>
														<th>GI (Glucose)</th>
													</tr>
                                                    {% for d in data %}
                                                    {% if d.meal_type == 'breakfast' %}

													<tr>
														<td>{{d.food}}</td>
														<td>{{d.quantity}}</td>
														<td>{{d.ingredients}}</td>
														<td>{{d.veg_nonveg_egg}}</td>
														<td>{{d.pral}}</td>
														<td>{{d.oil}}</td>
														<td>{{d.gl}}</td>
                                                        <td>{{d.kcal}}</td>
														<td>{{d.cals}}</td>
														<td>{{d.tdf}}</td>
                                                        <td>{{d.aaf_adj_prot}}</td>
                                                        <td>{{d.aaf_adj_prot}}</td>
                                                        <td>{{d.carbs}}</td>
                                                        <td>{{d.total_fat}}</td>
                                                        <td>{{d.tdf}}</td>
														<td>{{d.sodium}}</td>
														<td>{{d.potassium}}</td>
														<td>{{d.phasphorous}}</td>
														<td>{{d.calcium}}</td>
														<td>{{d.magnecium}}</td>
														<td>{{d.total_eaa}}</td>
														<td>{{d.lysine}}</td>
														<td>{{d.gross_protine}}</td>
														<td>{{d.free_suger}}</td>
														<td>{{d.aa_factor}}</td>
														<td>{{d.glucose}}</td>
													</tr>
                                                    {% endif %}

                                                    {% endfor %}
													<!-- Add more rows with dummy data as needed -->
												</table>
                                            </div>
											
									
                                        </div>
                                    </div>
                                    <div id="navpills2-2" class="tab-pane">
                                        <div class="row">
                                            <div class="col-md-12 table-container"> 
												<h4>Lunch</h4>
												<table>
													<tr>
														<th>Food</th>
														<th>Quantity</th>
														<th>Ingredients</th>
														<th>Veg/Non-Veg/Egg</th>
														<th>PRAL</th>
														<th>Oil</th>
														<th>GL</th>
                                                        <th>Kcal</th>
														<th>Cals</th>
														<th>Net of TDF</th>
														<th>AAF</th>
														<th>adj Prot</th>
														<th>Carbs (Net of TDF)</th>
														<th>Total Fat</th>
														<th>TDF</th>
														<th>Sodium</th>
														<th>Potassium</th>
														<th>Phosphorus</th>
														<th>Calcium</th>
														<th>Magnesium</th>
														<th>Total EAA</th>
														<th>Lysine</th>
														<th>Gross Protein</th>
														<th>Free Sugars</th>
														<th>AA Factor</th>
														<th>GI (Glucose)</th>
													</tr>
													{% for d in data %}
                                                    {% if d.meal_type == 'lunch' %}
													<tr>
                                                        <td>{{d.food}}</td>
														<td>{{d.quantity}}</td>
														<td>{{d.ingredients}}</td>
														<td>{{d.veg_nonveg_egg}}</td>
														<td>{{d.pral}}</td>
														<td>{{d.oil}}</td>
														<td>{{d.gl}}</td>
                                                        <td>{{d.kcal}}</td>
														<td>{{d.cals}}</td>
														<td>{{d.tdf}}</td>
                                                        <td>{{d.aaf_adj_prot}}</td>
                                                        <td>{{d.aaf_adj_prot}}</td>
                                                        <td>{{d.carbs}}</td>
                                                        <td>{{d.total_fat}}</td>
                                                        <td>{{d.tdf}}</td>
														<td>{{d.sodium}}</td>
														<td>{{d.potassium}}</td>
														<td>{{d.phasphorous}}</td>
														<td>{{d.calcium}}</td>
														<td>{{d.magnecium}}</td>
														<td>{{d.total_eaa}}</td>
														<td>{{d.lysine}}</td>
														<td>{{d.gross_protine}}</td>
														<td>{{d.free_suger}}</td>
														<td>{{d.aa_factor}}</td>
														<td>{{d.glucose}}</td>
													</tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                
                                                </table>
                                            </div>
											
                                        </div>
                                    </div>
                                    <div id="navpills2-3" class="tab-pane">
                                        <div class="row">
                                           
												<div class="col-md-12 table-container"> 
													<h4>Evening snaks</h4>
													<table>
														<tr>
                                                            <th>Food</th>
                                                            <th>Quantity</th>
                                                            <th>Ingredients</th>
                                                            <th>Veg/Non-Veg/Egg</th>
                                                            <th>PRAL</th>
                                                            <th>Oil</th>
                                                            <th>GL</th>
                                                            <th>Kcal</th>
                                                            <th>Cals</th>
                                                            <th>Net of TDF</th>
                                                            <th>AAF</th>
                                                            <th>adj Prot</th>
                                                            <th>Carbs (Net of TDF)</th>
                                                            <th>Total Fat</th>
                                                            <th>TDF</th>
                                                            <th>Sodium</th>
                                                            <th>Potassium</th>
                                                            <th>Phosphorus</th>
                                                            <th>Calcium</th>
                                                            <th>Magnesium</th>
                                                            <th>Total EAA</th>
                                                            <th>Lysine</th>
                                                            <th>Gross Protein</th>
                                                            <th>Free Sugars</th>
                                                            <th>AA Factor</th>
                                                            <th>GI (Glucose)</th>
                                                        </tr>
														{% for d in data %}
                                                        {% if d.meal_type == 'evening_snacks' %}

													<tr>
														<td>{{d.food}}</td>
														<td>{{d.quantity}}</td>
														<td>{{d.ingredients}}</td>
														<td>{{d.veg_nonveg_egg}}</td>
														<td>{{d.pral}}</td>
														<td>{{d.oil}}</td>
														<td>{{d.gl}}</td>
                                                        <td>{{d.kcal}}</td>
														<td>{{d.cals}}</td>
														<td>{{d.tdf}}</td>
                                                        <td>{{d.aaf_adj_prot}}</td>
                                                        <td>{{d.aaf_adj_prot}}</td>
                                                        <td>{{d.carbs}}</td>
                                                        <td>{{d.total_fat}}</td>
                                                        <td>{{d.tdf}}</td>
														<td>{{d.sodium}}</td>
														<td>{{d.potassium}}</td>
														<td>{{d.phasphorous}}</td>
														<td>{{d.calcium}}</td>
														<td>{{d.magnecium}}</td>
														<td>{{d.total_eaa}}</td>
														<td>{{d.lysine}}</td>
														<td>{{d.gross_protine}}</td>
														<td>{{d.free_suger}}</td>
														<td>{{d.aa_factor}}</td>
														<td>{{d.glucose}}</td>
													</tr>
                                                    {% endif %}

                                                    {% endfor %}
                                                    </table>
												</div>
                                        </div>
                                    </div>
                                    <div id="navpills2-4" class="tab-pane">
                                        <div class="row">
                                            <div class="col-md-12 table-container"> 
												<h4>Dinner</h4>
												<table>
													<tr>
                                                        
														<th>Food</th>
														<th>Quantity</th>
														<th>Ingredients</th>
														<th>Veg/Non-Veg/Egg</th>
														<th>PRAL</th>
														<th>Oil</th>
														<th>GL</th>
                                                        <th>Kcal</th>
														<th>Cals</th>
														<th>Net of TDF</th>
														<th>AAF</th>
														<th>adj Prot</th>
														<th>Carbs (Net of TDF)</th>
														<th>Total Fat</th>
														<th>TDF</th>
														<th>Sodium</th>
														<th>Potassium</th>
														<th>Phosphorus</th>
														<th>Calcium</th>
														<th>Magnesium</th>
														<th>Total EAA</th>
														<th>Lysine</th>
														<th>Gross Protein</th>
														<th>Free Sugars</th>
														<th>AA Factor</th>
														<th>GI (Glucose)</th>
													</tr>
													{% for d in data %}
                                                    {% if d.meal_type == 'dinner' %}

													<tr>
                                                        <td>{{d.food}}</td>
														<td>{{d.quantity}}</td>
														<td>{{d.ingredients}}</td>
														<td>{{d.veg_nonveg_egg}}</td>
														<td>{{d.pral}}</td>
														<td>{{d.oil}}</td>
														<td>{{d.gl}}</td>
                                                        <td>{{d.kcal}}</td>
														<td>{{d.cals}}</td>
														<td>{{d.tdf}}</td>
                                                        <td>{{d.aaf_adj_prot}}</td>
                                                        <td>{{d.aaf_adj_prot}}</td>
                                                        <td>{{d.carbs}}</td>
                                                        <td>{{d.total_fat}}</td>
                                                        <td>{{d.tdf}}</td>
														<td>{{d.sodium}}</td>
														<td>{{d.potassium}}</td>
														<td>{{d.phasphorous}}</td>
														<td>{{d.calcium}}</td>
														<td>{{d.magnecium}}</td>
														<td>{{d.total_eaa}}</td>
														<td>{{d.lysine}}</td>
														<td>{{d.gross_protine}}</td>
														<td>{{d.free_suger}}</td>
														<td>{{d.aa_factor}}</td>
														<td>{{d.glucose}}</td>
													</tr>
                                                    {% endif %}

                                                    {% endfor %}
                                                </table>
                                            </div>
											
                                        </div>
                                    </div>    
                                  
									
                                </div>
                            </div>
                        </div>
							</div>
						</div>
					</div>
				
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                 <p>©2023-Fit4LifeIndia All Rights Reserved. </p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'vendor/global/global.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
	<script src="{% static 'js/deznav-init.js' %}"></script>
	<script>
        // Function to open the popup
        document.getElementById("popupButton").addEventListener("click", function () {
            document.getElementById("popup").style.display = "block";
        });

        // Function to close the popup
        document.getElementById("closePopup").addEventListener("click", function () {
            document.getElementById("popup").style.display = "none";
        });
    </script>
    
    <script src="{% static 'vendor/highlightjs/highlight.pack.min.js' %}"></script>
    <!-- Circle progress -->

	<!-- Rating -->
	<script src="{% static 'vendor/star-rating/jquery.star-rating-svg.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>


<!-- Mirrored from gymove.dexignzone.com/xhtml/ecom-product-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jul 2023 07:19:57 GMT -->
</html>