{% extends 'base.html' %}
{% load static %}
{% block css %}{% endblock %}
{% block content %}


<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
	<div class="container-fluid">
		<div class="page-titles">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">Blank</a></li>
			</ol>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 " style="max-width: 30.666667%;">
								<!-- Tab panes -->
								<div class="tab-content ">
									<div role="tabpanel" class="tab-pane fade show active d-flex justify-content-center"
										id="first">
										<img class="img-fluid" src="{% static 'images/Sandwich_With_Egg_2.png' %}"
											width="100%" alt="">
									</div>
								</div>
							</div>
							<!--Tab slider End-->
							<div class="col-xl-9 col-lg-6 col-md-6 col-xxl-7 col-sm-12 d-flex align-items-center">
								<div class="product-detail-content">
									<!--Product details-->
									<div class="new-arrival-content pr">
										<h4>Sandwich_With_Egg</h4>
										<div class="comment-review star-rating justify-content-end d-flex">
										</div>
										<p>Ingridients:&nbsp;&nbsp;
											<span class="badge badge-success light mt-1">chicken 250g</span>
											<span class="badge badge-success light mt-1">salt 2Spoons</span>
											<span class="badge badge-success light mt-1">egg 2</span>
											<span class="badge badge-success light mt-1">garlic powder 1Spoon</span>
											<span class="badge badge-success light mt-1"> mixed herbs 2Spoons</span>
											<span class="badge badge-success light mt-1">refined oil 100ml</span>
											<span class="badge badge-success light mt-1">curd 3Spoons</span>
										</p>


									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-12">
				<div class="card">
					<!-- <div class="card-header d-block"> -->
					<!-- <h4 class="card-title">SKILL BARS </h4> -->
					<!-- <p class="mb-0 subtitle">add <code>.progress-animated</code> to change the style</p> -->
					<!-- </div> -->
					<div class="card-body">
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<h5>Nutritional Values</h5>
							</div>

						</div>
						<div class="row">
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Oil(Ml)
									<span class="pull-right">0.12</span>
								</h6>
								<div class="progress ">
									<div class="progress-bar bg-danger progress-animated"
										style="width: 45%; height:6px;" role="progressbar">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">GL
									<span class="pull-right">0.1</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-info progress-animated" style="width: 20%; height:6px;"
										role="progressbar">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">TDF(grms)
									<span class="pull-right">0.23</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-success progress-animated"
										style="width: 55%; height:6px;" role="progressbar">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Sodium
									<span class="pull-right">0.12</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-primary progress-animated"
										style="width: 70%; height:6px;" role="progressbar">
										<span class="sr-only">110% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Total Fat
									<span class="pull-right">12</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-warning progress-animated"
										style="width:85%; height:6px;" role="progressbar">
										<span class="sr-only">45% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Calcium
									<span class="pull-right">12</span>
								</h6>
								<div class="progress ">
									<div class="progress-bar bg-danger progress-animated"
										style="width: 95%; height:6px;" role="progressbar">
										<span class="sr-only">0.5</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Free Sugar
									<span class="pull-right">0.9</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-info progress-animated" style="width: 30%; height:6px;"
										role="progressbar">
										<span class="sr-only">0.9</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Lysine(mgrms)
									<span class="pull-right">0.12</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-success progress-animated"
										style="width: 45%; height:6px;" role="progressbar">
										<span class="sr-only">34</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Useble Cals
									<span class="pull-right">o.23</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-primary progress-animated"
										style="width: 70%; height:6px;" role="progressbar">
										<span class="sr-only">23</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Phosphorus
									<span class="pull-right">0.243</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-warning progress-animated"
										style="width:55%; height:6px;" role="progressbar">
										<span class="sr-only">o.13</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">AAF adj Prot(grms)
									<span class="pull-right">85%</span>
								</h6>
								<div class="progress ">
									<div class="progress-bar bg-danger progress-animated"
										style="width: 25%; height:6px;" role="progressbar">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">CarbsNet of TDF(grms)
									<span class="pull-right">23</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-info progress-animated" style="width: 50%; height:6px;"
										role="progressbar">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Potassium(mgrms)
									<span class="pull-right">34</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-success progress-animated"
										style="width: 25%; height:6px;" role="progressbar">
										<span class="sr-only">60% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Magnecium
									<span class="pull-right">4.4</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-primary progress-animated"
										style="width:50%; height:6px;" role="progressbar">
										<span class="sr-only">110% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Total EAA(mgrms)
									<span class="pull-right">1.22</span>
								</h6>
								<div class="progress">
									<div class="progress-bar bg-warning progress-animated"
										style="width:85%; height:6px;" role="progressbar">
										<span class="sr-only">45% Complete</span>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<h6 class="mt-2">Gross Prot-ein(grms)
									<span class="pull-right">12.2</span>
								</h6>
								<div class="progress ">
									<div class="progress-bar bg-danger progress-animated"
										style="width: 95%; height:6px;" role="progressbar">
										<span class="sr-only">95% Compleate</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- review -->
</div>

</div>
</div>
<!--**********************************
            Content body endpath('customers/detail/<int:user_id>/', views.customers_detail, name='customers_detail'),
        ***********************************-->



<script>

	var columnChartValues = [{
		y: 686.04,
		label: "one",
		color: "#1f77b4"
	}, {
		y: 381.84,
		label: "two",
		color: "#ff7f0e"
	}, {
		y: 375.76,
		label: "three",
		color: " #ffbb78"
	}, {
		y: 97.48,
		label: "four",
		color: "#d62728"
	}, {
		y: 94.2,
		label: "five",
		color: "#98df8a"
	}, {
		y: 65.28,
		label: "Hi",
		color: "#bcbd22"
	}, {
		y: 51.2,
		label: "Hello",
		color: "#f7b6d2"
	}];
	renderColumnChart(columnChartValues);

	function renderColumnChart(values) {

		var chart = new CanvasJS.Chart("columnChart", {
			backgroundColor: "white",
			colorSet: "colorSet3",
			title: {
				text: "Column Chart",
				fontFamily: "Verdana",
				fontSize: 25,
				fontWeight: "normal",
			},
			animationEnabled: true,
			legend: {
				verticalAlign: "bottom",
				horizontalAlign: "center"
			},
			theme: "theme2",
			data: [

				{
					indexLabelFontSize: 15,
					indexLabelFontFamily: "Monospace",
					indexLabelFontColor: "darkgrey",
					indexLabelLineColor: "darkgrey",
					indexLabelPlacement: "outside",
					type: "column",
					showInLegend: false,
					legendMarkerColor: "grey",
					dataPoints: values
				}
			]
		});

		chart.render();
	}
</script>

</html>

{% endblock %}
{% block js %}
{% endblock %}